# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\schooljaar2\web3\ContactTracing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
